*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: center;
  text-align: center;
  font-family: "Quantico", sans-serif;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #2d2f30;
}

h2 {
  font-size: 48px;
  
  margin: 20px 0;
}

button{
  border: none;
  border-radius: 1rem;
  background-color: #c0a6bdcb;
  padding: 10px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.add {
  width: 40px;
  height: 40px;
  margin: 0 40px;
  color: #000000;
  font-size: 18px;
}

.decrease {
   width: 40px;
  height: 40px;
    margin: 0 40px;
  color: #000000;
  font-size: 18px;

}

.reset {
  width: 100px;
  height: 40px;
  color: #000000;
  font-family: "Quantico", sans-serif;

}

button:hover{
  background: black;
  color: white;
}

div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main{
  background-image: url(https://img.freepik.com/fotos-premium/abstract-background-design-images-wallpaper-ai-generated_643360-78112.jpg?w=360);
  background-repeat: no-repeat;
background-size: cover;
  margin: 0px;
  padding: 0px;
}